<!-- services -->
<h1 class="display-4 my-2 text-muted">Services</h1>

<p>Our elite teams build apps, responsive websites, bots—any digital product that interacts with users—for the world’s leading companies. We cultivate expertise in every stage of product creation, resulting in extraordinary digital experiences.</p>

<div class="row">
  <div class="col-md-6 col-lg-4">
    <div class="card mb-3">
      <%= image_tag "mobile-strategy.png", class: 'card-img-top', html: { alt: "mobile strategy" }  %>
      <div class="card-body">
        <h4 class="card-title">Mobile Strategy</h4>
        <p class="card-text">Innovation doesn’t happen around a boardroom table. That’s why we employ proven methods that put us in the shoes of your users. At dev-cats, qualitative and quantitative research always drives product design. But while we execute a user-centered process, our Mobile Product Strategy encompasses much more.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card mb-3">
      <%= image_tag "product-design.jpg", class: 'card-img-top', html: { alt: "product design" }  %>
      <div class="card-body">
        <h4 class="card-title">Product Design</h4>
        <p class="card-text">We take pride in our craft. Drawing on our deep expertise in design, our Product Design team cares for your user’s experience over the entire customer journey, at every touchpoint with your company.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card mb-3">
      <%= image_tag "mobile-marketing.jpg", class: 'card-img-top', html: { alt: "mobile marketing" }  %>
      <div class="card-body">
        <h4 class="card-title">Mobile Marketing</h4>
        <p class="card-text">We spend a lot of time thinking about product strategy, design, and the functionality of mobile apps. We carefully craft every single app to give the end-user the best product experience possible, every time they engage—no matter the platform, device, or channel.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card mb-3">
      <%= image_tag "mobile-development.jpg", class: 'card-img-top', html: { alt: "mobile development" }  %>
      <div class="card-body">
        <h4 class="card-title">App Development</h4>
        <p class="card-text">We hire the best (choosing from more than 80 applicants for every software development position). Working together in co-located teams, we constantly learn from and challenge each other. Our teams stay lean and rapidly deploy customized solutions for each client. </p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card mb-3">
      <%= image_tag "web-development.jpg", class: 'card-img-top', html: { alt: "web development" }  %>
      <div class="card-body">
        <h4 class="card-title">Web Development</h4>
        <p class="card-text">The modern web isn’t just for static websites and content consumption. It’s the most open, flexible, and immediately accessible application runtime available today, both via mobile and desktop browsers.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card">
      <%= image_tag "emerging-tech.jpg", class: 'card-img-top', html: { alt: "emerging tech" }  %>
      <div class="card-body">
        <h4 class="card-title">Emerging Tech/Prototyping</h4>
        <p class="card-text">We deploy cross-functional teams made up of strategists, designers, and developers to help our clients explore what’s possible with emerging technologies.</p>
      </div>
    </div>
  </div>
</div><!-- /services -->