<li><%= link_to "About Us", pages_about_me_path %></li>
<li><%= link_to "Services", pages_services_path %></li>
<li>
  <% if current_user %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
<% end %>
</li>
<li><%= link_to "Sign up", new_user_registration_path %></li>